<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="uil uil-facebook"></i>
            <i class="uil uil-instagram-alt"></i>
            <i class="uil uil-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>